Source: crypticroute
Section: python
Priority: optional
Maintainer: Your Name <your.email@example.com>
Build-Depends: debhelper-compat (= 13), python3-all, python3-setuptools, dh-python, python3-pytest, python3-pytest-mock, pybuild-plugin-pyproject, python3-hatchling
Standards-Version: 4.6.0
Homepage: https://github.com/Sri-dhar/CrypticRoute

Package: crypticroute
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyqt6, python3-psutil, python3-netifaces, python3-cryptography, python3-scapy, python3-toml
Description: Cryptic Route Application
 A tool for network steganography.
 .
 (Provide a more detailed description here if desired)
